<div class="center hero-unit">
  <h1>Welcome to the IVCRCDB</h1>

  <h2>
    This is the portal for the
    <a href="http://www.klinikum.uni-heidelberg.de/IVCRC-Startseite.120575.0.html">IVCRC Database</a>.
  </h2>

  <%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
