<% provide(:title, 'All patients') %>
<h1>All patients</h1>

<%= will_paginate %>

<table class="table table-bordered table-striped table-condensed table-hover" name="patients">
  <th>Name</th>
  <th>First Name</th>
  <th>Age</th>
  <th>Actions</th>
  <%= render @patients %>
</table>

<%= will_paginate %>