<% provide(:title, 'All patients') %>
<h1>All patients</h1>

<%= will_paginate %>

<table class="table table-bordered table-striped table-condensed table-hover" name="patients">
  <th>Name</th>
  <th>First Name</th>
  <th>Birthday</th>
  <th>Zip Code</th>
  <th>City</th>
  <th colspan="2">Actions</th>
  <%= render @patients %>
</table>

<%= will_paginate %>