<h1>Add a Patient</h1>

<div class="span6 offset3">
<%= form_for(@patient) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Add patient", class: "btn btn-large btn-success" %>
<% end %>
</div>
